body {
    margin: auto;
    padding: auto;
    overflow: hidden;
    background: rgb(188, 246, 247);
}
form{
    /* membuat login ketengah */
  margin: 80px auto;
  padding: 30px 20px;
  background: white;
  text-align: center;
  width: 400px;
}
.form #password, .form #user-name{width: 80%;
}

.login .logbut{
    text-decoration: none;
}
.login .logbut input {
    margin-top: 20px;
    width: 85%;
}